.DS_Store
samples/.DS_Store

protos/*.py

__pycache__/
anchor_generators/__pycache__/
box_coders/__pycache__/
builders/__pycache__/
core/__pycache__/
data/__pycache__/
data_decoders/__pycache__/
dataset_tools/__pycache__/
dockerfiles/__pycache__/
g3doc/__pycache__/
inference/__pycache__/
legacy/__pycache__/
matchers/__pycache__/
meta_architectures/__pycache__/
metrics/__pycache__/
models/__pycache__/
predictors/__pycache__/
protos/__pycache__/
samples/__pycache__/
test_ckpt/__pycache__/
test_data/__pycache__/
test_images/__pycache__/
tpu_exporters/__pycache__/
utils/__pycache__/

