.DS_Store
samples/.DS_Store

__pycache__/
anchor_generators/__pycache__/
box_coders/__pycache__/
builders/__pycache__/
core/__pycache__/
data/__pycache__/
data_decoders/__pycache__/
dataset_tools/__pycache__/
dockerfiles/__pycache__/
g3doc/__pycache__/
inference/__pycache__/
legacy/__pycache__/
matchers/__pycache__/
meta_architectures/__pycache__/
metrics/__pycache__/
models/__pycache__/
predictors/__pycache__/
protos/__pycache__/
samples/__pycache__/
test_ckpt/__pycache__/
test_data/__pycache__/
test_images/__pycache__/
tpu_exporters/__pycache__/
utils/__pycache__/

__init__.py
anchor_generators/__init__.py
box_coders/__init__.py
builders/__init__.py
core/__init__.py
data/__init__.py
data_decoders/__init__.py
dataset_tools/__init__.py
dockerfiles/__init__.py
g3doc/__init__.py
inference/__init__.py
legacy/__init__.py
matchers/__init__.py
meta_architectures/__init__.py
metrics/__init__.py
models/__init__.py
predictors/__init__.py
protos/__init__.py
samples/__init__.py
test_ckpt/__init__.py
test_data/__init__.py
test_images/__init__.py
tpu_exporters/__init__.py
utils/__init__.py
